.badges-footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem;
  background-color: var(--badge-color);
}

.badge-date-footer {
  background-color: #21262F;
  border-radius: 23px;
}

.badge-min-footer {
  background-color: #21262F;
  border-radius: 23px;
}

.badge-min-footer p {
  background-color: red;
}



.div-button-footer {
  background-color: var(--badge-color);
}

.like-button-footer { 
  background-color: #21262F;
  border-radius: 23px;
}

@media (max-width: 768px) {
  .badges-footer {
    flex-direction: column;
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  .badges-footer {
    margin: 0.5rem;
  }

  .badge-min-footer p,
  .badge-date-footer p,
  .like-button-footer span {
    font-size: 0.5rem;
  }
}