.harry-icon img {
  position: relative;
  border-radius: 100%;
  background-color: #ebeef0;
  max-width: 64px;
  height: auto;
  margin-top: 96px;
  margin-bottom: 48px;
}

/* responsividade */
@media (max-width: 1150px) {
  .harry-icon img {
    max-width: 56px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .harry-icon img {
    max-width: 48px;
    margin-top: 72px;
    margin-bottom: 36px;
  }
}

@media (max-width: 480px) {
  .harry-icon img {
    max-width: 32px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
